// main: ../style.scss

@import "colors";
@import "beagleBrewControlPanel";

div.beagleBrewGrid {
    transform: scale(1);
    transition: transform 500ms;
    background: #22313F;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .clickable {
        cursor: pointer;
    }

    &>div.beagleBrewGrid-tanks {
        position: absolute;
        width: 950px;
        height: 700px;
    }

    div.beagleBrewGrid-row {
        display: flex;
        div.beagleBrewGrid-square {
            // width: calc(100vh/14);
            // height: calc(100vh/14);
            width: 50px;
            height: 50px;

            :not(.clickable) {
                pointer-events: none;
            }
            .clickable {
                &:hover::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    border: 1px dashed #ecf031;
                }
            }
        }
    }
}

div.openControlPanel {

    div.beagleBrewGrid {
        transform: scale(2);
    }
}
