// main: beagleGrid.scss

$color-cpText: #ecf0f1;
$color-cpMain: #2c3e50;
$color-cpLighter: #34495e;

$color-cpGreen: #2ecc71;
$color-cpRed: #d24d57;
$color-cpYellow: #f5d76e;
$color-cpButton: $color-cpLighter;
$color-cpConfirm: $color-cpLighter;
$color-cpCancel: $color-cpRed;
