// main: ../style.scss

@import "colors";
@import "animations";
@import "variables";

@mixin default-tube {
    fill: none;
    stroke: $color-basic;
    stroke-width: $stroke-width-default;
    stroke-linejoin: round;
    transition: stroke 1s, stroke-width 1s;
}

@mixin contains-fluid-tube {
    stroke-width: $stroke-width-active;
}

.brew-asset {
    width: 100%;
    height: 100%;
    position: relative;

    svg {
        position: absolute;
    }

    line,
    polyline,
    &.input-tube path,
    &.heater rect,
    &.heater path,
    &.cooler rect,
    &.pump circle,
    &.valve circle,
    &.valve path,
    &.shower path {
        @include default-tube;
    }

    &.fluid .tube,
    &.fluid-a .tube-a,
    &.fluid-b .tube-b,
    &.fluid-c .tube-c {
        @include contains-fluid-tube;
    }

    &.fluid {
        &.liquid-1 {
            .tube {
                stroke: $color-active-1;
            }
        }
        &.liquid-2 {
            .tube {
                stroke: $color-active-2;
            }
        }
        &.liquid-3 {
            .tube {
                stroke: $color-active-3;
            }
        }
    }

    &.fluid-a {
        &.liquidA-1 {
            .tube-a {
                stroke: $color-active-1;
            }
        }
        &.liquidA-2 {
            .tube-a {
                stroke: $color-active-2;
            }
        }
        &.liquidA-3 {
            .tube-a {
                stroke: $color-active-3;
            }
        }
    }

    &.fluid-b {
        &.liquidB-1 {
            .tube-b {
                stroke: $color-active-1;
            }
        }
        &.liquidB-2 {
            .tube-b {
                stroke: $color-active-2;
            }
        }
        &.liquidB-3 {
            .tube-b {
                stroke: $color-active-3;
            }
        }
    }

    &.fluid-c {
        &.liquidC-1 {
            .tube-c {
                stroke: $color-active-1;
            }
        }
        &.liquidC-2 {
            .tube-c {
                stroke: $color-active-2;
            }
        }
        &.liquidC-3 {
            .tube-c {
                stroke: $color-active-3;
            }
        }
    }

    &.coil .tube,
    &.heater path,
    .arrow line {
        stroke-linecap: round;
    }

    &.r90 {
        transform: rotate(90deg);
    }

    &.r180 {
        transform: rotate(180deg);
    }

    &.r270 {
        transform: rotate(270deg);
    }

    @import 'tank';
    @import "default-tube";
    @import "curved-tube";
    @import "t-connector-tube";
    @import "intersection-tube";
    @import "input-tube";
    @import "output-tube";
    @import "coil";
    @import "heater";
    @import "cooler";
    @import "pump";
    @import "valve";
    @import "shower";
}
