// main: assets.scss

&.cooler {
    .cooler-icon {
        animation: 1s ease-in-out 0s infinite alternate backwards paused opacity;
        polyline {
            stroke-width: 2px;
        }
    }

    &.active {
        .cooler-icon {
            animation-play-state: running;
            polyline {
                stroke: $color-active-cooler;
            }
        }
    }
}
