// main: assets.scss

&.valve {
    .valve-icon {
        transition: transform 1s;
        transform: rotateZ(0deg);
        transform-origin: 50%;
    }

    &.active {
        .valve-icon {
            transform: rotateZ(90deg);
        }
    }
}
