// main: ./style.scss
//flat ui colors from http://www.flatuicolorpicker.com

// red
$red-soft-red: #ec644b;
$red-chestnut-rose: #d25d57;
$red-pommegranate: #f22613;
$red-old-brick: #96281b;
$red-monza: #cf000f;
$red-tall-poppy: #c0392b;
$red-thunderbird: #d91e18;
$red-valencia: #d64541;
$red-flamingo: #ef4836;
$red-cinnabar: #e74c3c;

// pink
$pink-razzmatazz: #db0a5b;
$pink-radical-red: #f62459;
$pink-sunset-orange: #f64747;
$pink-cabaret: #d2527f;
$pink-sunglo: #e26a6a;
$pink-new-york-pink: #e08283;
$pink-wax-flower: #f1a9a0;

// purple
$purple-snuff: #dcc6e0;
$purple-rebeccapurple: #663399;
$purple-honey-flower: #674172;
$purple-wistful: #aea8d3;
$purple-plum: #913d88;
$purple-seance: #9a12b3;
$purple-medium-purple: #bf55ec;
$purple-light-wisteria: #be90d4;
$purple-studio: #8e44ad;
$purple-wisteria: #9b59b6;

// blue
$blue-san-marino: #446cb3;
$blue-alice-blue: #e4f1fe;
$blue-royal-blue: #4183d7;
$blue-picton-blue: #59abe3;
$blue-spray: #81cfe0;
$blue-shakespeare: #52b3d9;
$blue-humming-bird: #c5eff7;
$blue-picton-blue-2: #22a7f0;
$blue-curious-blue: #3498db;
$blue-madison: #2c3e50;
$blue-dodger-blue: #19b5fe;
$blue-ming: #336e7b;
$blue-ebony-clay: #22313f;
$blue-malibu: #6bb9f0;
$blue-summer-sky: #1e8bc3;
$blue-chambray: #3a539b;
$blue-pickled-bluewood: #34495e;
$blue-hoki: #67809f;
$blue-jelly-bean: #2574a9;
$blue-jacksons-purple: #1f3a93;
$blue-jordy-blue: #89c4f4;
$blue-steel-blue: #4b77be;
$blue-fountain-blue: #5c97bf;

// green
$green-medium-turquoise: #4ecdc4;
$green-aqua-island: #a2ded0;
$green-gossip: #87d37c;
$green-dark-sea-green: #90c695;
$green-eucalyptus: #26a65b;
$green-caribbean-green: #03c9a9;
$green-silver-tree: #68c3a3;
$green-downy: #65c6bb;
$green-mountain-meadow: #1bbc9b;
$green-light-sea-green: #1ba39c;
$green-medium-aquamarine: #66cc99;
$green-turquoise: #36d7b7;
$green-madang: #c8f7c5;
$green-riptide: #86e2d5;
$green-shamrock: #2ecc71;
$green-niagara: #16a085;
$green-emerald: #3fc380;
$green-green-haze: #019875;
$green-free-speech-aquamarine: #03a678;
$green-ocean-green: #4daf7c;
$green-niagara-1: #2abb9b;
$green-jade: #00b16a;
$green-salem: #1e824c;
$green-observatory: #049372;
$green-jungle-green: #26c281;

// yellow
$yellow-cream-can: #f5d76e;
$yellow-ripe-lemon: #f7ca18;
$yellow-saffron: #f4d03f;

// orange
$orange-confetti: #e9d460;
$orange-cape-honey: #fde3a7;
$orange-california: #f89406;
$orange-fire-bush: #eb9532;
$orange-tahiti-gold: #e87e04;
$orange-casablanca: #f4b350;
$orange-crusta: #f2784b;
$orange-sea-buckthorn: #eb974e;
$orange-lightning-yellow: #f5ab35;
$orange-burnt-orange: #d35400;
$orange-buttercup: #f39c12;
$orange-ecstasy: #f39c12;
$orange-sandstorm: #f9bf3b;
$orange-jaffa: #f27935;
$orange-zest: #e67e22;

//gray
$gray-white-smoke: #ececec;
$gray-lynch: #6c7a89;
$gray-pumice: #d2d7d3;
$gray-gallery: #eeeeee;
$gray-silver-sand: #bdc3c7;
$gray-porcelain: #ecf0f1;
$gray-cascade: #95a5a6;
$gray-iron: #dadfe1;
$gray-edward: #abb7b7;
$gray-cararra: #f2f1ef;
$gray-silver: #bfbfbf;
